@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  background: #000000;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 0 #CCCCCC;
}


.background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.75s;
}


li a{
  color: #ffffff;
}
.nav {
  padding: 0px;
  width: 640px;
  height:100px;
  margin: 10px auto auto auto;
}

 ul {
  list-style-type: none;
}

.nav li a {
  padding: 30px;
  float: left;
  width: 100px;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  background:transparent;
  text-decoration: none;
}

 /*.nav li a:hover .circle {
  position: relative;
  z-index: 1;
  top: -60px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  animation: illuminate 2s ease-out infinite;
  
}     */

 li i {
  height: 50px;
}

.nav li a:hover i {
  transform: translateY(-10px);
}

.nav  li a .title {
  font-size: 0px;
}

 .nav li a:hover .title {
  transform: translateY(10px);
  font-size: 15px;
  transition: 0.5s;
}

.nav li a.title:hover {
  transform: translateY(-10px);
}

 li:first-child a {
  background: #000000 !important;
}

 li:nth-child(2) a {
  background: #000000 !important;
}

 li:nth-child(3) a {
  background: #000000 !important;
}

 li:nth-child(4) a {
  background: #000000 !important;
}




@keyframes illuminate {
  0% {
    transform: scale(0.7, 0.7);
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}








